{% extends "base.html" %}

{% block head %}
    {% block title %}<title>{{ book.title }}</title>{% endblock %}
{% endblock %}


{% block content %}
<div class="book_container">
    <div class="book_container__inner">
        <p class="reminder" style="margin-bottom: 25px;">
            <a class="book-reminder" href="{{ url_for('home') }}"> << Return home</a>
        </p>
        <div class="book-information-container">
            <div class="cover-img-container">
                <div class="cover-img">
                    <img src='https://covers.openlibrary.org/b/ISBN/{{ book.isbn }}-M.jpg' width="225px" height="300px" />
                </div>
            </div>
            <div class="book-info">
                <h3 class="book-title"><strong>{{ book.title }}</strong></h3>
                <table>
                    <tr>
                        <td>Author: </td>
                        <td>{{ book.author }}</td>
                    </tr>
                    <tr>
                        <td>Year Published: </td>
                        <td>{{ book.year }}</td>
                    </tr>
                    <tr>
                        <td>ISBN: </td>
                        <td>{{ book.isbn }}</td>
                    </tr>
                    <tr>
                        <td>Rating Average: </td>
                        <td>{{ ratings }}</td>
                    </tr>
                    <tr>
                        <td>Number of Ratings: </td>
                        <td>{{ reviews|length }}</td>
                    </tr>
                </table>
                <div class="goodreads-container">
                    <table>
                        <tr>
                            <td>Goodreads Rating: </td>
                            <td>{{ request["books"][0]["average_rating"] }}</td>
                        </tr>
                        <tr>
                            <td>Number of Reviews: </td>
                            <td>{{ request["books"][0]["ratings_count"] }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="reviews-container">
            <form action="{{ url_for('review', title=book.title) }}" method="get">
                {{ review_markup }}
            <hr>
            {% for review in reviews %}
            <div class="review">
                <p style="margin-bottom: 6px"><span class="review-name">{{ review.author }}</span> - {{ review.rating }} stars</p>
                <p>{{ review.review_text }}</p>
                <p class="review-date"><small>{{ review.date.strftime('%m-%d-%Y') }}</small></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}