{% extends "base.html" %}

{% block content %}
<nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="{{ category }}">
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="nav_containerContent">
        <ul id="topNav_noLogin">
            <li class="logo">the cs50 digital bookshelf</li>
            <li>about</li>
            {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}">log in</a></li>
            {% else %}
                <li><a href="{{ url_for('logout') }}">log out</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<section id="homepage_container">
    <div id="homepage_hero">
        <div id="homepage__headline">
            <h2>Welcome, <span style="color: green">{{ username }}</span>!</h2>
            <h3>Search our collection now:</h3>
            <form action="{{ url_for('home') }}" method="post">
                <input id="user_search" name="userSearchInput" type="text" placeholder="Title, author, or ISBN">
                <div class="submitContainer">
                    <input id="user_search_submit" type="submit">
                </div>
            </form>
        </div>
    </div>
    <div id="searchContainer">
        {% if message %}
        <h4>{{ message }}</h4>
        {% endif %}
        {% if books %}
            <h3>Search Results:</h3>
            {% for book in books %}
            <div class="book__searchResult">
                <h4><a href="{{ url_for('books', title=book.title) }}">{{ book.title }}</a> - by {{ book.author }}</h4>
                <h5>Published in {{ book.year }}, ISBN: {{ book.isbn }}</h5>
                <hr>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}
